<div class="main-container">
  <div class="info-block">
    <img class="avatar" src='<%- config.avatar %>'>
    <div class="text">
      <p class="author"><%- config.author %></p>
      <p class="desc"><%- config.description %></p>
    </div>
  </div>
  <div class="index-block">
    <p class="block-title">posts</p>
    <% page.posts.each(function(item){ %>
      <%- partial('_partial/article-index', { item: item }) %>
    <% }); %>
  </div>
  <div class="projects-block">
    <p class="block-title">projects</p>
    <% config.projects.map(function(item) { %>
      <%- partial('_partial/project', { item: item }) %>
    <% }); %>
  </div>
  <div class="contacts-block">
    <p class="block-title">contacts</p>
    <% config.contacts.map(function(item) { %>
      <%- partial('_partial/contact', { item: item }) %>
    <% }); %>
  </div>
</div>